[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mecab-ko-dic = "*"
fugashi = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
pytorch-lightning = "*"
transformers = "*"
tokenizers = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.9"
